.menu {
  z-index: 100;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajoutez cette ligne pour séparer les éléments */
  min-height: 4rem;
  padding: 1rem;
  z-index: 200;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);

  &.mask {
    top: 150px;
    mask-image: linear-gradient(black 70%, transparent);
    -webkit-mask-image: linear-gradient(black 70%, transparent);
  }
}

.reactIcon {
  filter: invert(100%);
  width: 4rem;
}

.titleNav {
  display: flex;
  align-items: center;
}

.titleNav,
.navigation {
  padding: 1rem;
  border: none;
  background: none;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--font-color);
  text-shadow: 0 0 5px var(--shadow-color);
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;
  gap: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 2rem;
}

.titleNav:hover,
.navigation:hover {
  transform: scale(1.05);
  background-color: #ffffff36;
  border-color: var(--primary-color);
}

.menubutton {
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.list {
  margin-left: auto;
  display: flex;
}

.navigation {
  padding: 0 0.3rem;
  color: inherit;
}

@media (max-width: 640px) {
  .navBar {
    padding: 16px 50px 30px 50px;
    justify-content: space-between;
    z-index: 10;
  }

  .list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    top: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background: radial-gradient(
      ellipse at bottom,
      var(--background-color) 0%,
      var(--background-color-gradient) 100%
    );
    transition: all 0.8s ease-out;
  }

  .navigation {
    padding: 4rem;
  }

  .search {
    display: flex;
    padding: 6rem;
  }

  .show-nav .list {
    width: 100vw;
    right: 0;
    visibility: visible;
  }

  .navBarItem::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: #fff;
  }

  .navBarItem:last-child::after {
    display: none;
  }

  .navigation .search {
    display: block;
    padding: 1.5;
    font-size: 5vw;
  }

  .menubutton {
    width: 60px;
    height: 40px;
    background: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menubutton:hover {
    transform: scale(1.05);
    background-color: #ffffff36;
    border-color: var(--primary-color);
  }

  .menubutton:hover .burger-bar,
  .menubutton:hover .burger-bar::before,
  .menubutton:hover .burger-bar::after {
    background: var(--primary-color);
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: absolute;
    border-radius: 3px;
    background: #fff;
    transition: all 0.3s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    left: 0;
  }

  .burger-bar::before {
    top: -10px;
  }

  .burger-bar::after {
    top: 10px;
  }

  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }

  .show-nav .burger-bar::before {
    left: -1.2rem;
    top: 0;
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after {
    left: -1.2rem;
    top: 0;
    transform: rotate(-45deg);
  }

  /* Animation menu */
  .slideInDown-1,
  .slideInDown-2,
  .slideInDown-3,
  .slideInDown-4,
  .slideInDown-5 {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  .show-nav .slideInDown-1 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
  }

  .show-nav .slideInDown-2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
  }

  .show-nav .slideInDown-3 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
  }

  .show-nav .slideInDown-4 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.8s;
  }

  .show-nav .slideInDown-5 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
  }
}
